# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Ignore virtual environment folders
venv/
.env/
env/
.conda/
*.conda

# Ignore VS Code settings
.vscode/
*.code-workspace

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore any compiled files
*.dll
*.exe
*.class
*.o
*.out

# Ignore Anaconda-related files
.conda/
conda-meta/
pkgs/
